* {
    margin: 0;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(235, 140, 15);
    line-height: 1.6;
}
#showcase {
    background: url(../Images/_4da9ba94-f687-4693-9797-80e067fac476.jpeg) no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#showcase h1 {
    font-size: 50px;
    line-height: 1.2;
}
#showcase p {
    font-size: 20px;
}
#showcase .btn {
    font-size: 18px;
    text-decoration: none;
    color: blanchedalmond;
    border: 1px solid #926238;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}
#showcase .btn:hover {
    background: #926238;
    color: #fff;
}
#section-a {
    padding: 20px;
    background: #e5e5e5;
    color: #926238;
    text-align: center;
}
#section-b {
    padding: 20px;
    background: #e5e5e5;
    color: #fff;
    text-align: center;
}
#section-c {
    display: flex;
}
#section-c div {
    padding: 20px;
}
#section-c .box-1, #section-c .box-3 {
    background: #926239;
}
footer {
    display: flex;
    padding-top: 3rem;
    justify-content: center;
    background: #926238;
    color: #fff;
}